body {
  background-color: rgb(24, 50, 89);
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 14px;
  text-align: center;
}
h1.textbackground {
  color: rgb(255, 255, 255);
  font-size:3000px;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  box-sizing: border-box;
  text-align: center;
}
p.textfront {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.eniacimage {
  width: 200px;
  height: 200px;
}
