body {
  background-color: rgb(7, 25, 51);
  color: rgb(255, 255, 255);
}
h2 {
  font-size: 56px;
}
p {
  font-size: 20px;
}
h1.textbackground {
  font-size: 200px;
  text-align: center;
}
p.textfront {
  font-size: 30px;
  text-align: center;
}

.puntoprimero {
  text-align: left;
  margin-left: 10%;
  margin-right: 40%;
}
.puntosegundo {
  text-align: left;
}
.puntotercero {
  text-align: left;
}
.puntocuarto {
  text-align: left;
}
.puntoquinto {
  text-align: left;
}

.eniacimage {
  width: 200px;
  height: 200px;
}
