body {
  background-color: rgb(24, 50, 89);
  color: rgb(255, 255, 255);
}
h2 {
  font-size: 28px;
}
h1.textbackground {
  font-size: 200px;
  text-align: center;
}
p.textfront {
  font-size: 20px;
  text-align: center;
}
.eniacimage {
  width: 200px;
  height: 200px;
}
